<!DOCTYPE html>

<html>
  <head>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>This website was created by Bahram Movlanov. It uses data form <a href="openweathermap.org">openweathermap.org</a> and <a href="mapbox.com">mapbox.com</a>!</p>
      <img class="portrait" src="./img/IMG_9457.jpg" alt="me" />
    </div>
    {{>footer}}
  </body>
</html>