<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/app.js" defer></script>
    <title>{{title}}</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
    </div>
    {{>footer}}
  </body>
</html>
